.ui-feedback {
  --input-wrapper-padding: 3px;
  --field-wrapper-padding-bottom: 16px;
  --status-message-wrapper-tooltip--offset: 4px;

  border-radius: 0.5rem;
  padding: 0.625rem 0.813rem 1rem 1rem;

  &.success:not(:has(.ui-status-message-wrapper-tooltip)) {
    @apply bg-success-5;
  }

  &.info:not(:has(.ui-status-message-wrapper-tooltip)) {
    @apply bg-info-5;
  }

  &.warning:not(:has(.ui-status-message-wrapper-tooltip)) {
    @apply bg-warning-5;
  }

  &.error:not(:has(.ui-status-message-wrapper-tooltip)) {
    @apply bg-error-5;
  }

  &.narrow {
    padding: 0;
  }

  .custom-field {
    position: relative;

    display: flex;
    flex-direction: column;

    .field-and-status-icon,
    .field-wrapper-status-message {
      display: flex;
      align-items: center;

      .ui-status-icon.next-to-field {
        margin-left: 0.563rem;
      }
    }
  }
}
