.ui-range-wrapper {
  width: 112px;
  height: 10px;

  /* ==== rest state ==== */
  .range-slider {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    height: 10px;
    width: 100%;

    /* can’t have different vendor’s prefixes in the same comma separated selector 
      or the browser will ignore it as it doesn’t recognise part of it
      &::-webkit-slider-runnable-track, &::-moz-range-track need to be split
      or to write some custom postcss plugin to split it for us
    */
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      appearance: none;
      height: 4px;
      border-radius: 2px;
      box-shadow: 0 0 0 0.5px var(--color-black-25) inset;
      background: linear-gradient(
        to right,
        var(--color-black-10) var(--slider-progress),
        var(--color-black-5) var(--slider-progress)
      );
      border-radius: 2px;
      opacity: 1;
    }

    &::-moz-range-track {
      -webkit-appearance: none;
      appearance: none;
      height: 4px;
      border-radius: 2px;
      box-shadow: 0 0 0 0.5px var(--color-black-25) inset;
      background: linear-gradient(
        to right,
        var(--color-black-10) var(--slider-progress),
        var(--color-black-5) var(--slider-progress)
      );
      border-radius: 2px;
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      margin-top: -3px;
      border-radius: 50%;
      border: 0.5px solid var(--color-grey-70);
      box-shadow: 0 1px 3px var(--color-black-10);
      background-color: var(--color-white-100);
      opacity: 1;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 10px;
      margin-top: -3px;
      border-radius: 50%;
      border: 0.5px solid var(--color-grey-70);
      box-shadow: 0 1px 3px var(--color-black-10);
      background-color: var(--color-white-100);
      opacity: 1;
    }
  }

  &:not(.disabled) {
    .range-slider {
      /* ==== Focus state ==== */
      &:focus-visible {
        outline: none;

        &::-webkit-slider-runnable-track {
          box-sizing: content-box;
          border-radius: 4px;
          background-color: var(--color-white-75);
          background: linear-gradient(
            to right,
            var(--color-black-25) var(--slider-progress),
            var(--color-white-75) var(--slider-progress)
          );
          border: 2px solid var(--color-primary-50);
          box-shadow: 0 0 0 0.5px var(--color-black-25) inset;
          opacity: 1;
        }

        &::-moz-range-track {
          box-sizing: content-box;
          border-radius: 4px;
          background: linear-gradient(
            to right,
            var(--color-black-25) var(--slider-progress),
            var(--color-white-75) var(--slider-progress)
          );
          border: 2px solid var(--color-primary-50);
          box-shadow: 0 0 0 0.5px var(--color-black-25) inset;
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          margin-top: -3px;
          border-radius: 50%;
          background-color: var(--color-white-100);
          border: 1px solid var(--color-grey-90);
          box-shadow: 0 1px 3px var(--color-black-10);
          opacity: 1;
        }

        &::-moz-range-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          margin-top: -3px;
          border-radius: 50%;
          background-color: var(--color-white-100);
          border: 1px solid var(--color-grey-90);
          box-shadow: 0 1px 3px var(--color-black-10);
          opacity: 1;
        }
      }

      /* ==== Hover state ==== */
      &:hover {
        outline: none;

        &::-webkit-slider-runnable-track {
          box-sizing: content-box;
          border: 0;
          background: linear-gradient(
            to right,
            var(--color-black-25) var(--slider-progress),
            var(--color-white-75) var(--slider-progress)
          );
          border-radius: 2px;
          box-shadow: 0 0 0 0.5px var(--color-black-75) inset;
          opacity: 1;
        }

        &::-moz-range-track {
          box-sizing: content-box;
          border: 0;
          background: linear-gradient(
            to right,
            var(--color-black-25) var(--slider-progress),
            var(--color-white-75) var(--slider-progress)
          );
          border-radius: 2px;
          box-shadow: 0 0 0 0.5px var(--color-black-75) inset;
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          margin-top: -3px;
          border-radius: 50%;
          background-color: var(--color-white-100);
          border: 1px solid var(--color-primary-60);
          box-shadow: 0 1px 3px var(--color-black-25);
          opacity: 1;
        }

        &::-moz-range-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 10px;
          height: 10px;
          margin-top: -3px;
          border-radius: 50%;
          background-color: var(--color-white-100);
          border: 1px solid var(--color-primary-60);
          box-shadow: 0 1px 3px var(--color-black-25);
          opacity: 1;
        }
      }

      /* ==== Active state ==== */
      &:active {
        outline: none;

        &::-webkit-slider-runnable-track {
          box-sizing: content-box;
          border: 0;
          background: linear-gradient(
            to right,
            var(--color-black-50) var(--slider-progress),
            var(--color-white-100) var(--slider-progress)
          );
          border-radius: 2px;
          box-shadow: 0 0 0 0.5px var(--color-black-75) inset;
          opacity: 1;
        }

        &::-moz-range-track {
          box-sizing: content-box;
          border: 0;
          background: linear-gradient(
            to right,
            var(--color-black-50) var(--slider-progress),
            var(--color-white-100) var(--slider-progress)
          );
          border-radius: 2px;
          box-shadow: 0 0 0 0.5px var(--color-black-75) inset;
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          transform: scale(0.8);
          margin-top: -3px;
          border-radius: 50%;
          background-color: var(--color-white-100);
          border: 1px solid var(--color-primary-70);
          box-shadow: 0 0.5px 1px var(--color-black-25);
          opacity: 1;
        }

        &::-moz-range-thumb {
          -webkit-appearance: none;
          appearance: none;
          transform: scale(0.8);
          margin-top: -3px;
          border-radius: 50%;
          background-color: var(--color-white-100);
          border: 1px solid var(--color-primary-70);
          box-shadow: 0 0.5px 1px var(--color-black-25);
          opacity: 1;
        }
      }
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}
