.ui-manchette-space-time-chart-wrapper {
  width: 100%;
  border-radius: 10px;
  box-shadow:
    0 4px 9px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.19);
  background-color: var(--white100);
  position: relative;

  .manchette {
    overflow-y: auto;
    overflow-x: hidden;

    .osrd-menu {
      width: 305px;
      transform: translateY(-2px);
    }
  }

  .space-time-chart-container {
    width: 100%;
    position: sticky;
  }
  .space-time-h-slider-container {
    position: absolute;
    height: 28px;
    right: 0;
    bottom: 6px;
    z-index: 10;
    padding: 12px 11px;
    background-color: var(--white100);
  }
}

.manchette-menu {
  margin-left: -4px;
  margin-top: -5px;
}

.osrd-menu.waypoint-menu {
  margin-top: -2px;
}
