.osrd-tooltip {
  inset: auto;
  padding: 9px 8px 11px;
  min-width: 200px;
  max-width: 213px;
  position: fixed;
  background-color: var(--black85);
  border-radius: 8px;
  box-shadow: 0 4px 6px -2px var(--black28);
  font-size: 0.875rem;

  hr {
    border-top: 1px solid var(--white50);
    margin-block: 7px 5px;
  }

  .osrd-tooltip-header {
    color: var(--highlight30);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    margin-inline: 4px;
  }

  .osrd-tooltip-body {
    display: flex;
    flex-direction: column;
    color: var(--white100);
    line-height: 20px;

    .tooltip-item {
      margin-inline: 4px;
      margin-top: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
