.ui-manchette-container .waypoint {
  @apply text-grey-80;
  height: 2rem;
  line-height: 1.5rem;
  padding-block: 3px 5px;
  width: 315px;
  position: relative;

  .waypoint-separator {
    position: relative;
    opacity: 0.6;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    min-width: 12px;
    align-self: stretch;
    &::after {
      content: '';
      position: absolute;
      bottom: 11px;
      left: 0;
      width: 100%;
      @apply bg-grey-40;
    }
  }
  .waypoint-name {
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .waypoint-ch {
    font-size: 0.875rem;
    margin: 0 2px;
    width: 1rem;
    text-align: left;
    & + .waypoint-separator {
      flex-grow: 0;
      width: 1rem;
    }
  }

  .waypoint-type {
    width: 1rem;
    height: 16px;
    position: relative;
    align-self: center;
    & + .waypoint-separator {
      flex-grow: 0;
      width: 0.6875rem;
    }
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 0.125rem;
      height: 0.125rem;
      border-radius: 50%;
      @apply bg-grey-80;
    }
  }
  .waypoint-position {
    @apply text-grey-50;
    font-size: 12px;
    font-weight: 400;
    width: calc(41px - 8px); /* 8px is the padding-left */
  }
  .lines {
    min-width: 37px;
  }

  &:not(.menu-active):hover,
  &.waypoint-active {
    @apply bg-black-5;
    border-radius: 4px;
    cursor: pointer;

    .waypoint-separator::after {
      @apply bg-black-100;
    }
  }

  &.menu-active {
    cursor: default;
  }

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 16px;
    right: -1.625rem;
    width: 1.625rem;
    opacity: 0.6;
    @apply bg-grey-40;
  }

  /**
   * Handle lines thickness, so that they are 0.5px wide only when DPR is at least 2 (since Firefox, particularly,
   * doesn't render subpixel wide lines):
   */

  .waypoint-separator::after,
  &::after {
    height: 0.5px;
    margin-bottom: -0.25px;

    @media (max-resolution: 2x) {
      height: 1px;
    }
  }
}
