.import-timetable-item-trainlist {
  position: relative;
  .import-timetable-item-trainlist-launchbar {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px 4px 0 0;
    height: 40px;
    color: var(--light);
    background-color: var(--secondary);
  }
}
