.date-picker-story-wrapper {
  .date-picker-input-wrapper {
    width: 300px;
  }
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.values-container {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.value-box {
  padding: 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.slider-container {
  width: 100%;
  max-width: 600px;

  .ui-range-wrapper {
    margin: 50px;
  }
}
