.ui-select {
  border-radius: 4px;
  border: 1px solid rgba(148, 145, 142, 1);
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding-left: 13px;
  padding-right: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0;
  line-height: 24px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: inline('../assets/triangle-up-down.svg') no-repeat right 12px center;
  @apply border-grey-40 bg-black-1 text-grey-80;

  option {
    @apply text-grey-80;
  }

  option.placeholder-option {
    @apply text-grey-50;
  }

  &.placeholder-selected {
    @apply text-grey-50;
  }

  &:focus {
    outline: none;
    border: 2px solid rgba(37, 106, 250, 1);
    @apply bg-black-1 border-primary-50;
  }

  &.read-only {
    border: 1px solid rgba(182, 178, 175, 1);
    box-shadow:
      0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 1px 0px rgba(0, 0, 0, 0.1);
    @apply text-grey-50;
    background: inline('../assets/triangle-up-down-read-only.svg') no-repeat right 12px center;
  }

  &:disabled {
    border: 1px solid rgba(211, 209, 207, 1);
    box-shadow:
      0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 1px 0px rgba(0, 0, 0, 0.1);
    @apply text-grey-30;
    background: inline('../assets/triangle-up-down-disabled.svg') no-repeat right 12px center;
  }

  &.success {
    box-shadow: none;
    border: 2px solid;
    @apply bg-white-100 border-success-30;
  }

  &.info {
    box-shadow: none;
    border: 2px solid;
    @apply bg-white-100 border-info-30;
  }

  &.warning {
    box-shadow: none;
    border: 2px solid;
    @apply bg-white-100 border-warning-30;
  }

  &.error {
    box-shadow: none;
    border: 2px solid;
    @apply bg-white-100 border-error-30;
  }

  &.small {
    height: 32px;
    padding-left: 9px;
    padding-bottom: 2px;
    font-size: 0.875rem;
    line-height: 20px;
    background: inline('../assets/triangle-up-down.svg') no-repeat right 8px center;

    &.read-only {
      background: inline('../assets/triangle-up-down-read-only.svg') no-repeat right 8px center;
    }

    &:disabled {
      background: inline('../assets/triangle-up-down-disabled.svg') no-repeat right 8px center;
    }
  }
}
