.space-time-chart-container {
  position: relative;
  overflow: hidden;

  // Create a new stacking context so that any z-index inside the space time
  // chart doesn't affect the rest of the UI
  transform: translate(0);

  .toolbar {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 10;
    border: 1px solid var(--black10);
    border-radius: 5px;

    button {
      outline: none;
      background: var(--white100);
      color: var(--black100);
      padding: 0 7px;

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:not(:last-child) {
        border-right: 1px solid var(--black10);
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }

      &:hover {
        background-color: var(--primary5);
      }
    }

    .zoom-button {
      svg {
        margin-top: -2px;
      }

      .icon {
        display: inline-block;
      }
    }

    .zoom-button-clicked {
      background-color: var(--primary90);

      .icon {
        color: var(--white100);
      }

      &:hover {
        background-color: var(--primary90);
      }
    }

    .reset-button {
      svg {
        transform: rotate(180deg) translate(0, 2px);
      }
    }

    .zoom-button-disabled,
    .reset-button-disabled {
      color: var(--black25);
      cursor: inherit;

      &:hover {
        background: var(--white100);
      }
    }

    .menu-button {
      svg {
        transform: translate(0, -1px);
      }
    }
  }

  .settings-panel {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 36px;
    width: 263px;
    color: rgb(49, 46, 43);
    background: rgba(247, 246, 238, 0.4);
    backdrop-filter: blur(5px);
    border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgb(250, 249, 245);
    padding: 32px 28px;
    z-index: 10;

    .close-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      margin-left: 490px;
      margin-top: 14px;
      margin-right: 14px;
      border: none;
    }

    section header {
      font-weight: 600;
      margin-bottom: 7px;
    }

    section {
      // Correctly align the checkbox with the radio buttons
      .ui-checkbox {
        margin-left: 4px;
      }

      // Override the default padding of the radio button wrapper
      .ui-radio-button-wrapper {
        padding-left: 0;
        padding-block: 0;

        .ui-radio-button {
          padding-left: 8px;

          label {
            font-weight: 400;
          }
        }
      }
    }
  }
}
