@use 'sass:color';

$colors: (
  'oldblue': #0088ce,
  'blue': #303383,
  'darkblue': #16183d,
  'verydarkblue': #0e0f26,
  'purple': #6e1e78,
  'pink': #a1006b,
  'red': #cd0037,
  'orange': #e05206,
  'yellow': #ffb612,
  'green': #82be00,
  'teal': #d2e100,
  'cyan': #009aa6,
  'white': #fff,
  'black': #000,
  'gray': #333,
  'gray-dark': #343a40,
  'primary': #303383,
  'primary-dark': #202258,
  'secondary': #4d4f53,
  'success': #82be00,
  'info': #009aa6,
  'warning': #ffb612,
  'danger': #cd0037,
  'light': #f2f2f2,
  'dark': #343a40,
  'coolgray1': #f2f2f2,
  'coolgray3': #d7d7d7,
  'coolgray5': #b9b9b9,
  'coolgray7': #a0a0a0,
  'coolgray9': #747678,
  'coolgray11': #4d4f53,
  'coolgray13': #333333,
  'coolgray15': #202020,

  // OSRD Design System
  'ambientB5': #faf9f5,
  'ambientB10': #f7f6ee,
  'ambientB15': #f2f0e4,
  'ambientC10': #f0f4f1,
  'black5': rgba(0, 0, 0, 0.05),
  'black10': rgba(0, 0, 0, 0.1),
  'black25': rgba(0, 0, 0, 0.25),
  'black28': rgba(0, 0, 0, 0.28),
  'black50': rgba(0, 0, 0, 0.5),
  'black85': rgba(0, 0, 0, 0.85),
  'black100': #000000,
  'error5': #ffeeed,
  'error30': #ff6868,
  'error60': #d91c1c,
  'error80': #6b0000,
  'grey5': #f5f5f5,
  'grey10': #ebebea,
  'grey20': #d3d1cf,
  'grey30': #b6b2af,
  'grey40': #94918e,
  'grey50': #797671,
  'grey60': #5c5955,
  'grey70': #494641,
  'grey80': #312e2b,
  'grey90': #1f1b17,
  'highlight30': #fff700,
  'info5': #e6f7ff,
  'info30': #70c1e5,
  'info60': #216482,
  'info80': #053348,
  'primary5': #e3edfc,
  'primary20': #98c0f5,
  'primary30': #72a8f7,
  'primary40': #3c8aff,
  'primary50': #256afa,
  'primary60': #1844ef,
  'primary80': #1f0f96,
  'primary90': #180f47,
  'selection20': #fff2b3,
  'success5': #e6f7ee,
  'success30': #3cca80,
  'success60': #0b723c,
  'warning5': #fdf5e1,
  'warning30': #eaa72b,
  'warning60': #7d521e,
  'white50': rgba(255, 255, 255, 0.5),
  'white75': rgba(255, 255, 255, 0.75),
  'white100': #ffffff,

  'trainPurple5': #f2f3fc,
  'trainPurple10': #e5e7ff,
  'trainPurple30': #b3a1ff,
  'trainPurple50': #8757e6,
  'trainPurple70': #58318f,

  'trainParma5': #faf2f8,
  'trainParma10': #fae6f6,
  'trainParma30': #ea94d8,
  'trainParma50': #b2539e,
  'trainParma70': #732963,

  'trainBlue5': #f0f5fc,
  'trainBlue10': #e0edff,
  'trainBlue30': #81aff1,
  'trainBlue50': #3470e0,
  'trainBlue70': #244c91,

  'trainCyan5': #edf9ff,
  'trainCyan10': #d9f2ff,
  'trainCyan30': #45abe2,
  'trainCyan50': #127db8,
  'trainCyan70': #165070,

  'trainMint5': #f0faf7,
  'trainMint10': #daf7ee,
  'trainMint30': #55b7af,
  'trainMint50': #13857b,
  'trainMint70': #085953,

  'trainGreen5': #eff5eb,
  'trainGreen10': #e4eddf,
  'trainGreen30': #86ba68,
  'trainGreen50': #54823b,
  'trainGreen70': #2c4f19,

  'trainSage5': #f0f7eb,
  'trainSage10': #e1edd8,
  'trainSage30': #93ad82,
  'trainSage50': #687c5c,
  'trainSage70': #444d3c,

  'trainYellow5': #fff7e0,
  'trainYellow10': #fceec2,
  'trainYellow30': #ffb700,
  'trainYellow50': #996e00,
  'trainYellow70': #634a00,

  'trainOrange5': #fff5ed,
  'trainOrange10': #ffe7d6,
  'trainOrange30': #ff8b38,
  'trainOrange50': #c75300,
  'trainOrange70': #803500,

  'trainPink5': #fff2f7,
  'trainPink10': #ffe8f2,
  'trainPink30': #fc86b7,
  'trainPink50': #e02271,
  'trainPink70': #870048,

  'trainRed5': #fcf5f5,
  'trainRed10': #fae7e6,
  'trainRed30': #ff7873,
  'trainRed50': #e5221a,
  'trainRed70': #912420,

  'trainBrown5': #f7f3ec,
  'trainBrown10': #eee7d9,
  'trainBrown30': #b39e7e,
  'trainBrown50': #8a714b,
  'trainBrown70': #594525,

  'trainBlack5': #f4f6f8,
  'trainBlack10': #e7ecf2,
  'trainBlack30': #a3b1bd,
  'trainBlack50': #6c767f,
  'trainBlack70': #3f464b,
);

:root {
  --border-radius: 4px;
  --breakpoint-lg: 1024px;
  @each $color, $value in $colors {
    --#{$color}: #{$value};
    --#{$color}-rgb:
      #{color.channel($value, 'red')}, #{color.channel($value, 'green')},
      #{color.channel($value, 'blue')};
  }

  --modal-gray-transparent-background: rgba(0, 0, 0, 0.1);
  --modal-osrd-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.7) 100%);
}
