.paced-train-settings {
  .time-settings {
    display: flex;
    margin: 15px 12px;
    flex-wrap: wrap;

    .time-settings-item {
      flex: 0 1 180px;
    }

    .cadence-icon {
      transform: rotate(90deg);
    }
  }

  .added-occurrences {
    margin: 15px 12px;

    h2 {
      margin-left: -12px;
    }

    .controls {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-bottom: 24px;

      .add-button {
        margin: 16px 0 5px 16px;
      }
    }

    .list {
      li {
        margin: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .input-icon:first-child {
          margin-right: 8px;
        }

        .input-icon:last-child {
          margin-left: 8px;
        }
      }
    }
  }
}
