.stdcm-results {
  background-color: rgb(233, 239, 242);
  padding: 29px 32px 32px;
  position: relative;

  .alternative-path-message {
    .stdcm-header__notification.alternative-path {
      max-height: unset;
      display: block;
      width: 804px;
      padding: 14px 24px 18px 24px;
      margin-bottom: 28px;
    }
  }

  .simulation-navigator {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 24px;
    margin-bottom: 36px;

    &.with-error-status {
      margin-top: 160px;
    }

    .simulation-list-wrapper {
      display: flex;
      overflow: hidden;

      .scroll-btn {
        position: absolute;
        border-radius: 6px;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) inset;
        background-color: rgba(246, 248, 249, 1);
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        span {
          color: rgb(24, 68, 239);
        }

        &.left {
          left: -12px;
        }

        &.right {
          right: -12px;
        }
      }

      .simulation-list {
        mask-image: linear-gradient(to right, black 90%, transparent);
        display: flex;
        width: 100%;
        overflow-x: hidden;

        .simulation-item {
          width: 160px;
          display: inline-block;
          margin-right: 32px;
          cursor: pointer;

          .simulation-metadata {
            color: rgba(182, 178, 175, 1);
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 20px;
            letter-spacing: 0;
            text-align: left;
            padding-top: 4px;
            padding-bottom: 11px;
            display: flex;
            flex-direction: column;

            .creation-date {
              margin-bottom: 4px;
            }

            .total-length-trip-duration {
              margin-right: 10px;
            }
          }

          .simulation-name {
            display: flex;
            color: rgba(121, 118, 113, 1);
            letter-spacing: 0;
            text-align: left;
            white-space: nowrap;

            .check-circle {
              display: flex;
              align-items: center;
              margin-left: 8px;
              color: rgb(60, 202, 128);
            }

            .alternative-simulation {
              display: flex;
              align-items: center;
              margin-left: 4px;
              color: var(--info30);
            }
          }

          &.selected {
            .simulation-metadata {
              color: var(--grey50);
            }

            .simulation-name {
              color: rgba(0, 0, 0, 1);
            }

            .selected-simulation-indicator {
              width: 100%;
              background-color: rgba(92, 89, 85, 1);
              height: 4px;
            }
          }

          &.retained {
            .simulation-name,
            .simulation-metadata {
              color: var(--success60);
            }
          }

          &.anyRetained {
            cursor: default;
          }

          &.selected.retained {
            .selected-simulation-indicator {
              background-color: rgba(11, 114, 60, 1);
            }
          }
        }
      }
    }

    .separator {
      width: 100%;
      position: absolute;
      bottom: 4px;
      border-bottom: 1px solid rgb(182, 178, 175);
    }
  }

  .simulation-results {
    display: flex;

    .results-with-feedback {
      margin-right: 32px;

      .results-and-sheet {
        display: flex;
        flex-direction: column;

        .table-container::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }

        .table-container {
          max-height: calc(100vh - 180px);
          overflow-y: auto;
          scrollbar-width: none;
          .table-results {
            border-radius: 6px;
            background-color: rgba(0, 0, 0, 0.05);
            thead {
              position: sticky;
              top: 0;
              background-color: #dde3e6;
            }
            th {
              height: 32px;
              font-size: 0.875rem;
              font-weight: 400;
              text-transform: capitalize;
              color: rgb(121, 118, 113);
              padding-top: 5px;
              padding-bottom: 5px;
              vertical-align: middle;
            }
            .head-stop {
              text-align: center;
            }
            th:last-child {
              text-transform: none;
            }
            tbody tr:nth-child(odd) {
              background-color: rgb(239, 243, 245);
            }
            tbody tr:nth-child(even) {
              background-color: rgb(246, 248, 249);
            }
            td {
              height: 32px;
              font-size: 0.875rem;
              font-weight: 400;
              color: rgb(49, 46, 43);
              line-height: 20px;
              vertical-align: middle;
            }
            .index {
              width: 64px;
              text-align: end;
              padding-right: 24px;
            }
            .name {
              width: 232px;
            }
            .ch {
              width: 48px;
            }
            .track {
              width: 64px;
              justify-content: flex-start;
            }
            .stop {
              font-size: 0.875rem;
              font-weight: 600;
              color: rgb(0, 0, 0);
              line-height: 20px;
              width: 72px;
              text-align: center;
            }
            .stop-with-duration {
              font-size: 0.875rem;
              color: rgb(255, 255, 255);
              background-color: rgb(33, 100, 130);
              border-radius: 10px;
              text-align: center;
              padding: 1px 9px;
            }
            .weight {
              width: 128px;
              padding-left: 40px;

              &.lastStep {
                color: '#797671';
              }
            }
            .ref {
              width: 108px;
            }

            .semi-bold-output {
              font-weight: 600;
            }
          }
          .results-buttons {
            position: sticky;
            bottom: 0;
            height: 104px;
            background-color: #dde3e6;
            display: flex;
            justify-content: space-between;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            &.simulation-retained {
              border-radius: 0;
            }
            .button-display-all-PR {
              padding-top: 32px;
              padding-left: 36px;
            }
            .button-get-simulation {
              padding-top: 32px;
              padding-right: 36px;
            }
            .selected-simulation {
              padding-top: 9.6px;
            }
          }
        }

        .upgrade {
          display: flex;
          flex-direction: column;
          margin-right: 32px;
          margin-top: 56px;
          border-top: 5px solid rgb(211, 209, 207);
          .text {
            color: rgb(0, 0, 0);
            margin-left: 8px;
            .title {
              font-weight: 600;
              font-size: 1.125rem;
              padding-top: 25px;
              display: flex;
              flex-direction: row;
              .comment-icon {
                color: #b6b2af;
                margin-left: 10px;
                display: flex;
              }
            }
          }
          .buttons-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 22px;
            button {
              height: 32px;
              font-size: 1rem;
              padding-top: 5px;
              padding-bottom: 7px;
              margin-right: 23px;
              margin-bottom: 23px;
            }
          }
        }

        .get-simulation {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: rgb(255, 255, 255);
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
          .download-simulation {
            margin-top: 45px;
            margin-bottom: 21px;
          }
          .gesico-text {
            font-weight: 400;
            font-size: 1rem;
            color: rgb(49, 46, 43);
            margin-bottom: 42px;
          }
        }

        .start-new-query {
          margin-top: 76px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .start-new-query-with-data {
            margin-top: 48px;
          }
        }
      }

      .simulation-failure {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        min-height: 168px;
        text-align: left;
        letter-spacing: 0;
        color: var(--grey80);

        .title {
          color: rgba(33, 100, 130, 1);
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 7px;
        }

        .change-criteria {
          opacity: 1;
          color: rgba(49, 46, 43, 1);
          font-size: 1rem;
          font-weight: 400;
          font-style: Regular;
          line-height: 24px;
        }

        .alternative-simulations-info {
          padding: 22px 40px 26px 40px;
          text-align: center;
          margin-top: 30px;
          margin-right: 8px;
          line-height: 24px;
          border-radius: 8px;
          color: var(--info60);
          background-color: var(--info5);
          box-shadow:
            0 0 0 4px rgba(255, 255, 255, 1) inset,
            0 0 0 5px rgb(112, 193, 229) inset,
            0px 6px 21px -5px rgba(24, 68, 239, 0.26),
            0px 16px 30px -5px rgba(0, 0, 0, 0.16),
            0px 3px 5px -2px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .map-results {
      flex-grow: 1;
      position: sticky;
      top: 0;
      width: 40%;
      height: 540px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 1);
      box-shadow:
        0 0 0 2px rgba(255, 255, 255, 0.75) inset,
        0 0 0 1px rgba(0, 0, 0, 0.25) inset;
    }
  }

  .stdcm-debug-results {
    position: relative;
  }
}

.feedback-card {
  margin-bottom: 8px;
  .feedback-card-header {
    h3 {
      color: var(--black100);
      font-size: 600;
      line-height: 24px;
      margin-bottom: 0;
    }
    .feedback-card-header-icon {
      color: var(--grey30);
      padding-left: 8px;
    }
  }
  .feedback-separator {
    color: var(--grey20);
    width: 804px;
    margin: 56px 0 30px;
    border-bottom: 5px solid var(--grey20);
  }
  .feedback-card-text {
    color: var(--black100);
  }
  .feedback-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white100);
    border-radius: 5px;
    color: var(--grey70);
    font-weight: 500;
    width: 67px;
    height: 32px;
    padding: 12px 24px;
    margin-right: 16px;
    border: 1.5px solid var(--grey50);
  }
}
