.scenario-manage-timetable-item {
  .manage-timetable-item-tab {
    display: flex;
    align-items: center;
    width: 100%;

    .rolling-stock-img {
      width: 48px;
      padding-bottom: 4px;
      overflow: hidden;
      mask-image: linear-gradient(90deg, black 90%, rgba(0, 0, 0, 0));
      -webkit-mask-image: linear-gradient(90deg, black 90%, rgba(0, 0, 0, 0));

      img {
        height: 16px;
        object-fit: cover;
        object-position: left;
      }
    }

    .rolling-stock-name {
      margin-left: 8px;
      width: calc(100% - 48px - 8px); // 48px for the rs image width, 8px for the left margin
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    img {
      height: 24px;
    }
  }

  select {
    color: #303383;
    font-weight: 500;
    text-overflow: ellipsis;
    padding-right: 50px;
  }

  .simulation-settings {
    .first-row {
      display: flex;
      gap: 16px;
      margin-bottom: 8px;

      .toggle-container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 8px;
        border-radius: 4px;
      }

      .constraint-distribution-switch {
        justify-content: space-between;
      }
    }

    .second-row {
      background-color: white;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  }
}
