// shared between scenario-sidemenu and .scenario-timetable-manage-timetable-item
%scenario-timetable-train {
  width: 100%;
  position: relative;
  background-color: var(--ambientB10);

  &:not(.paced-train) {
    padding-left: 4px;
  }

  .clickable-button {
    width: 100%;
    padding: 12px 0;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 1px;
    background-color: white;
  }

  .base-info {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    &.warning {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 7px;
        width: 4px;
        height: 16px;
        transform: translate(0, -50%);
        border-radius: 5px;
      }
      &.not-honored {
        &:before {
          background-color: var(--warning30);
        }
      }
      &.invalid {
        &:before {
          background-color: var(--error60);
        }
      }
    }

    .title-img {
      display: flex;
      flex-grow: 1;
      overflow: hidden;

      .rolling-stock {
        display: flex;
        align-items: center;
        overflow: hidden;
        height: 24px;
        position: relative;

        &:has(img) {
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 22px;
            background: linear-gradient(270deg, rgba(247, 246, 238, 0), rgba(247, 246, 238, 1));
            z-index: 1;
          }
        }

        /* Trick to hide the image if too narrow */
        img {
          min-width: 40px;
          height: 16px;
          object-fit: cover;
          object-position: left;
          transform: scaleX(-1);
        }
      }
    }
    .train-time {
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 16px;

      .status-icon {
        width: 24px;
        height: 24px;
        color: var(--info60);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        span {
          padding-bottom: 4px;
        }
        &.not-honored-or-too-fast {
          color: var(--warning60);
        }
      }

      .scenario-timetable-train-times {
        width: 44px;
        text-align: right;
      }
    }

    .invalid-reason {
      margin-right: 18px;
      font-size: 16px;
      color: var(--error80);
      font-weight: 600;
      min-width: 155px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 24px;
      text-align: right;
    }
  }

  .more-info {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    height: 28px;
    flex-wrap: wrap;
    justify-content: space-between;
    .more-info-left {
      padding-left: 40px;
      .more-info-item {
        display: inline-block;
        margin-right: 16px;
      }
    }
    .duration-time {
      text-align: end;
      margin-right: 55px;
    }
  }

  .action-buttons {
    display: none;
    position: absolute;
    right: 8px;
    top: 4px;
    height: 40px;
    justify-content: center;
    align-items: center;

    button {
      padding: 3px 8px;
      transition: 0.2s;
      height: 32px;
      width: 32px;
      border-radius: 4px;
      box-shadow: 0 0 0 1.5px rgba(255, 255, 255, 1) inset;
      background-color: var(--ambientB10);
      color: var(--primary60);
      margin-left: 8px;

      &:hover:not(:disabled) {
        background-color: var(--white100);
        color: var(--primary80);
      }

      &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: var(--grey30);
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-left: 24px;
      }
    }
  }

  &:not(.selected) {
    background-color: var(--ambientB10);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25);
  }

  &.selected {
    background-color: var(--selection20);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25);
    .rolling-stock::after {
      background: linear-gradient(
        270deg,
        rgba(255, 242, 179, 0),
        rgba(255, 242, 179, 1)
      ) !important;
    }
  }

  &.invalid {
    background-image: url('data:image/svg+xml,%3Csvg version="1.1" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"%3E%3Ctitle%3EAssets/TrainList/InvalidTrain%3C/title%3E%3Cg fill-rule="evenodd"%3E%3Crect width="48" height="48" fill="transparent"/%3E%3Cpath d="m48 26v22h-22l22-22zm0-26-48 48v-22l26-26h22z" fill="%23FF6868" opacity=".15"/%3E%3C/g%3E%3C/svg%3E');
    background-repeat: repeat;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25);

    .checkbox-title::after {
      display: none;
    }
    .rolling-stock {
      font-weight: 600;
      color: var(--error80);
    }
  }

  &.modified {
    z-index: 3;
  }

  &:hover:not(.modified, .paced-train) {
    .train-time {
      color: var(--grey20);
    }

    .action-buttons {
      display: flex;
      z-index: 1;
    }
  }
}

@mixin hide-train-details {
  &:not(.with-details) {
    .scenario-timetable-train {
      .more-info,
      .scenario-timetable-train-tags {
        display: none;
      }
    }
  }
}

.scenario {
  height: calc(100vh - 32px);
  background-color: var(--ambientB15);
  font-family: 'IBM Plex Sans';

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes timetable-arrival-time-loader {
    0% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.05;
    }
    100% {
      opacity: 0.25;
    }
  }

  .timetable-collapse-button {
    position: absolute;
    left: 0;
    top: 38px;
    padding-bottom: 3px;
    padding-inline: 4px 12px;
    height: 34px;
    width: 24px;
    color: var(--grey40);
    background-color: var(--white100);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0 0 0 1px var(--black10);
    clip-path: inset(-1px -1px -1px 1px);
    z-index: 4;
  }
  .micro-macro-buttons {
    button {
      color: var(--grey60);
      width: 58px;
      &:hover {
        color: var(--grey80);
      }
      &:active {
        color: var(--grey30);
      }
    }

    display: inline-flex;
    align-self: flex-start;
    height: 32px;
    font-size: 0.875rem;
    letter-spacing: 1.6px;
    line-height: 18px;
    margin-block: 29px 33px;
    background-color: var(--ambientB10);
    border-radius: 6px;
    padding: 4px 16px;
    box-shadow:
      0 2px 2px -1px rgba(255, 171, 88, 0.27),
      0 1px 2px rgba(0, 0, 0, 0.16);

    .micro-macro-separator {
      width: 1px;
      margin-inline: 10px;
      background-color: var(--grey20);
    }

    .active {
      color: var(--grey90);
      font-weight: 600;
    }
  }

  .micro-macro-buttons:hover {
    background-color: var(--white100);
  }

  .scenario-timetable-collapsed {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    padding-bottom: 8px;
    z-index: 1;
    background-color: var(--coolgray1);
  }

  .scenario-timetable-manage-timetable-item {
    .scenario-timetable-manage-timetable-item-header {
      display: flex;
      flex-direction: column;
      padding: 8px 8px 0;

      .custom-control-label {
        padding-top: 0;
      }

      .input-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .paced-trains-container {
        padding: 12px;
      }
    }

    .scenario-timetable-manage-timetable-item-body {
      padding: 8px;
    }

    #timetable-edited-element {
      padding: 14px 24px;
      @include hide-train-details;

      .scenario-timetable-train {
        @extend %scenario-timetable-train;
      }
    }
  }

  .scenario-sidemenu {
    height: 100%;
    display: flex;
    flex-direction: column;

    .scenario-details-electrical-profile-set {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 16px;
      margin-top: 6px;
      color: var(--black100);
    }

    .scenario-timetable {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      background-color: var(--ambientB10);
      .scenario-timetable-addtrains-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 38px;
        margin-bottom: 20px;
        padding: 14px 8px 0 8px;
        border-top: 4px rgba(0, 0, 0, 0.05) solid;
        color: var(--primary60);
        font-weight: 600;
        button:hover {
          color: var(--primary80);
          text-decoration: underline;
        }
        button:active {
          color: var(--primary50);
        }
      }
      .filter-selector {
        background-color: transparent;
        border: none;
        color: var(--secondary);
        transition: 0.2s;
        padding: 4px 8px;
        border-radius: 4px;
        &.on {
          color: var(--white100);
          background-color: var(--secondary);
        }
        &:hover {
          background-color: var(--secondary);
          color: var(--white100);
          .scenario-details-modify-button-text {
            opacity: 1;
          }
        }
      }
      .multiselect-delete {
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        border-color: transparent;
        background-color: rgba(var(--red-rgb), 0.75);
        color: var(--white100);
        height: 32px;
        &.disabled {
          background-color: rgba(var(--secondary-rgb), 0.5);
        }
      }

      .multiselect-download {
        @extend .multiselect-delete;
        background-color: var(--primary);
      }

      .scenario-timetable-trains {
        font-family: 'IBM Plex Sans';
        background: var(--ambientB15);
        overflow: auto;
        min-height: 0;

        .checkbox-title {
          display: flex;
          position: relative;
          line-height: 24px;

          .ui-checkbox.small {
            padding-left: 21px;
          }
        }

        .no-train {
          color: var(--grey80);
        }

        .checkbox-label {
          margin-inline: 10.5px 8px;
          font-size: 1rem;
          font-weight: 600;
          max-width: 160px;

          .train-info {
            display: flex;
            align-items: center;
            min-width: 0;
            .train-projected {
              height: 20px;
              width: 20px;
              margin-right: 7.5px;
              background-color: var(--info30);
              border-radius: 4px;
              position: relative;
              flex-shrink: 0;
              svg {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(2px, 2px);
              }
            }
            .train-name {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        .scenario-timetable-departure-date {
          height: 32px;
          line-height: 28.8px;
          text-align: center;
          background-color: var(--black5);
          border-top: 1px solid var(--white75);
          border-bottom: 1px solid var(--black25);
          color: var(--grey50);
          font-size: 0.875rem;
        }

        .invalid-trains {
          display: flex;
          background: var(--warning5);
          box-shadow: inset 0 1px var(--white100);
          height: 48px;
          font-size: 1rem;
          font-weight: 600;
          line-height: 24px;
          color: var(--warning60);
          border-top: solid 1px var(--warning30);
          border-bottom: solid 1px var(--warning30);
          svg {
            margin: 16px;
            color: var(--warning30);
          }
          .invalid-trains-message {
            height: 24px;
            margin-top: 11px;
          }
        }

        .filter {
          background-color: var(--ambientB10);
          height: 31px;
          border-bottom: solid 1px rgba(0, 0, 0, 0.25);
          display: flex;
          justify-content: center;

          .filter-button {
            width: 100%;
            color: var(--grey40);
          }

          &:hover {
            background-color: var(--white100);
            color: var(--black100);
            cursor: pointer;

            .scenario-details-modify-button-text {
              opacity: 1;
            }
          }
        }

        .scenario-timetable-train {
          @extend %scenario-timetable-train;
        }

        @include hide-train-details;

        &:not(.with-details) {
          .scenario-timetable-train {
            .more-info,
            .scenario-timetable-train-tags {
              display: none;
            }
          }
        }

        .arrival-time-loader {
          opacity: 0.25;
          animation: timetable-arrival-time-loader 1s ease-in-out;
          animation-iteration-count: infinite;
          background-color: black;
          width: 42px;
          height: 12px;
          border-radius: 4px;
          margin: 0 2px;
        }

        .sticky-filter {
          position: sticky;
          top: 0;
          z-index: 2;

          &.selection-mode-open {
            top: 0;
          }
        }

        .filter-panel {
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 17px 39px 23px 24px;
          background-color: var(--ambientB5);
          box-shadow: inset 0 1px 0 0 var(--white100);
          border-bottom: solid 1px rgba(0, 0, 0, 0.25);

          // cancel bootstrap default margin
          label {
            margin-bottom: 0;
          }

          // TODO : remove this when height for small element is fixed in osrd-ui
          .ui-input-field-wrapper.small {
            height: auto !important;
          }

          .grid-template {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 63px;
          }

          .close-filter {
            position: absolute;
            right: 12px;
            top: 6px;
            z-index: 1;
          }

          #train-validity-and-label,
          #schedule-point-honored-and-rollingstock {
            display: flex;
            flex-direction: column;
            gap: 17px;
          }

          .validity-filter {
            display: flex;
            margin-bottom: 16px;
            font-size: 0.8rem;

            .options-btn {
              padding: 6px 10px;
            }
          }

          .speed-limit-tag {
            padding-top: 13px;

            label {
              font-size: 0.875rem;
              height: 20px;
              font-weight: 600;
              margin-bottom: 4px;
            }
            .speed-limit-tag-filter {
              display: flex;
              flex-wrap: wrap;
              gap: 12px;

              button {
                border-radius: 4px;
                border: 1px solid var(--grey30);
                background-color: var(--ambientB5);
                color: var(--grey80);
                font-size: 0.875rem;
                font-weight: 400;
                padding: 2px 8px;
              }

              button:hover {
                background-color: var(--white100);
                color: var(--black100);
                border: 1px solid var(--grey90);
              }

              .selectedTag {
                background-color: var(--grey60);
                color: var(--white100);
                border: 1px solid var(--black100);
              }
            }
          }
        }
      }
    }
  }

  .scenario-results {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

$train-category-colors: (
  high-speed: 'trainRed50',
  intercity: 'trainParma50',
  regional: 'trainOrange30',
  commuter: 'trainCyan50',
  freight: 'trainGreen50',
  fast-freight: 'trainMint50',
  tram-train: 'trainSage50',
  work: 'trainYellow30',
  night: 'trainPurple50',
  touristic: 'trainBrown50',
  none: 'grey50',
);

@each $category, $color in $train-category-colors {
  .train-category-text-#{$category} {
    color: var(--#{$color});
  }

  .train-category-bg-#{$category} {
    background-color: var(--#{$color});
  }

  .train-name-card.train-category-text-#{$category} {
    color: var(--#{$color}) !important;

    &::before {
      background: var(--#{$color}) !important;
    }
  }
}
