.time-stops-datasheet {
  background-color: var(--ambientB15);
  --dsg-cell-background-color: var(--white100);
  --dsg-cell-disabled-background-color: var(--white100);
  --dsg-header-text-color: var(--grey50);
  --dsg-header-active-text-color: var(--black100);

  .invalidCell {
    color: red !important;
  }

  .padded-header > * {
    padding-inline: 8px 16px;
  }

  .secondary-code-column {
    color: var(--grey50);
  }

  .self-center {
    align-self: center;
  }

  .small-unit-container {
    display: inline-block;
    font-size: 0.5rem;
    line-height: 8px;
    text-align: left;
    vertical-align: -10%;
  }

  .repeatedValue {
    color: var(--grey30);
  }

  .warning-schedule {
    background: var(--warning30);
  }

  .warning-margin {
    background: rgba(var(--warning30-rgb), 0.5);
  }

  .dsg-cell {
    font-size: 0.875rem;
    border-top: none !important;
    border-bottom: none !important;
  }

  .dsg-cell.dsg-cell-header {
    font-size: 0.75rem;
    box-shadow: 0 1px 0 0 inset var(--white100);
    background-color: var(--ambientB15);
  }

  .dsg-cell-gutter {
    --dsg-header-text-color: var(--grey30);
  }

  .dsg-cell-sticky-right {
    button {
      margin: auto;
    }
  }

  .dsg-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    color: var(--grey80);
  }

  .dsg-corner-indicator {
    visibility: hidden;
  }

  .dsg-input {
    font-size: 0.875rem;
  }

  .dsg-row {
    &.activeRow {
      font-weight: 600;
      color: var(--black100);
      .dsg-cell-gutter,
      .secondary-code-column {
        font-weight: normal;
      }
    }

    &.oddRow {
      --dsg-cell-background-color: var(--ambientB5);
      --dsg-cell-disabled-background-color: var(--ambientB5);
    }
  }

  .align-right-responsive {
    text-align: right;
    flex-grow: 1;
  }

  @container (max-width: 1140px) {
    .align-right-responsive {
      text-align: left;
    }
  }
}
