@import 'tailwindcss';
@import '../../../../index.css';

.base-margin-top {
  margin-top: 1.6875rem;
}

#curve-layer,
#declivity-layer,
#front-interactivity-layer {
  margin-left: 3rem;
  margin-top: 1.6875rem;
}

#front-interactivity-layer {
  box-shadow:
    0 0.0625rem 0,
    125rem 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0.25rem 0.5625rem 0 rgba(0, 0, 0, 0.06);
}

#interaction-button-container {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0.625rem 0 0;
  margin-right: 0.75rem;
  width: 9.3125rem;
  height: 2.4688rem;
  padding: 0.4375rem;

  .zoom-buttons {
    border: solid 0.0625rem rgba(0, 0, 0, 0.1);
    border-radius: 0.3125rem;
    display: flex;
    align-items: stretch;
  }

  .interaction-button {
    display: flex;
    width: 2rem;
    align-items: center;
    justify-content: center;

    &.inactive {
      color: rgba(0, 0, 0, 0.25);
    }

    &.reset-button {
      rotate: 180deg;
    }

    &.plus-button {
      border-left: solid 0.0625rem rgba(0, 0, 0, 0.1);
      border-right: solid 0.0625rem rgba(0, 0, 0, 0.1);
    }

    &.elipsis-button {
      padding-left: 0.5rem;
    }
  }
}

#details-box {
  min-width: 7.1875rem;
  background-color: rgb(0, 0, 0, 0.85);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.28);
  padding: 0.5rem;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.875rem;
  color: rgb(255, 255, 255);

  span {
    height: 1.25rem;
    padding: 0 0.25rem 0 0.25rem;
  }

  hr {
    border-top: 0.0313rem solid rgba(255, 255, 255, 0.5);
    margin-top: 0.4375rem;
    margin-bottom: 0.1875rem;
  }

  #base-speed-text {
    color: rgba(255, 255, 255, 0.75);
    font-family: 'IBM Plex Mono', monospace;
  }

  #mareco-speed-text {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
  }

  #speed-difference-text {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.75);
  }

  #mode-text {
    color: rgb(255, 247, 0);
  }

  #electrical-mode-text,
  #power-restriction-text {
    font-family: 'IBM Plex Mono', monospace;
  }

  #effort-text {
    color: rgb(112, 193, 229);
  }
}

#settings-panel {
  position: absolute;
  display: flex;
  min-width: 32.875rem;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 28px;
  margin-right: 20px;
  color: rgb(49, 46, 43);
  border-radius: 0 0.625rem 0 0;
  backdrop-filter: blur(0.3125rem);
  box-shadow: inset 0 0 0 0.0625rem rgb(255, 255, 255);
  border: solid 0.0625rem rgba(0, 0, 0, 0.1);
  z-index: 10;

  .settings-panel-section {
    min-width: 227px;
    margin-top: 29px;
    margin-left: 20px;
    margin-right: 20px;

    .settings-panel-section-title {
      height: 24px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    .ui-feedback {
      padding: 0 0 0 0;
    }

    .bottom-panel {
      margin-top: 36px;
    }
  }

  #close-settings-panel {
    position: absolute;
    top: 14px;
    right: 14px;
    height: 16px;
    width: 16px;
    border: none;
    cursor: pointer;

    span {
      color: rgb(121, 118, 113);
    }
  }
}

#tooltip {
  height: 2.5rem;
  width: 15.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 0.625rem;
  color: rgb(255, 255, 255);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.speed-space-slider-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  line-height: normal;
  padding: 14px 12px 14px 9px;
}
