services:
  gateway:
    image: ghcr.io/openrailassociation/osrd-${RELEASE_CHANNEL-edge}/osrd-gateway:${TAG-dev}-${GATEWAY_FLAVOR-standalone}
    volumes:
      - "./docker/gateway.dev.front.toml:/srv/gateway.toml"
    build:
      args:
        SKIP_FRONT: "1"

  front:
    image: ghcr.io/openrailassociation/osrd-${RELEASE_CHANNEL-edge}/osrd-front:${TAG-dev}-dev
    container_name: osrd-front
    build:
      context: front
      additional_contexts:
        test_data: tests/data
      dockerfile: docker/Dockerfile.${OSRD_FRONT_MODE-devel}
      args:
        OSRD_GIT_DESCRIBE: development
    environment:
      FRONT_PORT: 3000 # only useful with the prod config
      OSRD_EDITOAST_URL: /api
    volumes:
      - "./front:/app"
      - "./tests/data:/tests/data"
    restart: unless-stopped
    ports: [ "3000:3000" ]
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000" ]
      start_period: 5m
      interval: 5s
      retries: 6

  wait-healthy:
    depends_on:
      front: { condition: service_healthy }
